@import "reset";

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.book-container {
    flex: 0 1 45%;
    padding: 1rem;
    border: 2px dashed black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 2.25rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(0, 36, 34);
        padding-bottom: .75rem;
        margin-bottom: .75rem;
    }
    span {
        font-size: 1.3rem;
        padding: .35rem;
        color: rgb(36, 51, 45);
    }
    a {
        background: black;
        color: #fff;
        margin-top: 1rem;
        padding: .5rem;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.modal {
    background: cornflowerblue;
    scroll-behavior: smooth;
    h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        background: blue;
        color: #fff;
        padding: .75rem;
        margin-bottom: 1rem;
        position: sticky;
        width: 100%;
        top: 0;
    }
    .close {
        color: red;
    }
}
 
.characters-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
        border: 2px solid rgb(75, 74, 74);
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100%;
        font-size: 1.4rem;
    }
}

.donut {
    height: 60vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 4rem;
        height: 4rem;
    }
}